/.*
/crash-reports/
/local/
/logs/
/options.txt
/usercache.json
/usernamecache.json
/saves/
/screenshots/
/shaderpacks/
/PCL/
/Pilgraft.jar
/Pilgraft.json
/modernfix/
/resourcepacks/
/rhino.local.properties
/emi.json
/TrashSlotSaveState.json
/lightspeed-cache/
/config/oculus.properties
/config/inventoryprofilesnext
/config/xaerominimap_entities.json
/*-natives
/quests_structures
/schematics
/fancymenu_data
/fancymenu_setups
/servers*
/patchouli_data.json
/hmclversion.cfg
/patchouli_books
/.DS_Store
/blueprints
/music_sheets
jsconfig.json
.DS_Store